.button {
  border-radius: 99999px;
  font-size: 1.6rem;
  font-weight: 700;
  height: 6rem;
  border: none;
  cursor: pointer;
  padding: 0 4rem;
  line-height: 4rem;
  font-family: 'Inter', sans-serif;

  &.button-primary {
    color: white;
    background-color: var(--color-primary);

    &:hover {
      background-color: #8345DB;
    }

    &:active {
      background-color: var(--color-accent);
    }
  }

  &.button-primary-white {
    color: var(--color-primary);

    &:hover {
      color: var(--color-accent);
    }

    &:active {
      color: white;
      background-color: var(--color-accent);
    }
  }

  &.button-secondary {
    color: var(--color-primary);
    background-color: var(--color-secondary);

    &:hover {
      background-color: #A5FE39;
    }

    &:active {
      background-color: var(--color-accent);
      color: white;
    }
  }

  &.button-tertiary {
    border: 3px solid #8345DB;
    background-color: white;
    color: var(--color-primary);

    &:hover {
      background-color: #CDDFF2;
      border: 3px solid #CDDFF2;
    }

    &:active {
      background-color: var(--color-accent);
      color: white;
    }
  }

  &.button-full {
    width: 100%;
  }

  &.button-sm {
    height: 4rem;
  }
}
