.testimoni__card {
    padding: 3.4rem 3.5rem;
    background-color: #FAFAFA;
    border: 3px solid #FFFFFF03;
    min-width: 46.2rem;
    border-radius: 1.5rem;
    display: flex;
    flex: 0 0 auto;
    /* height: max-content; */
}
.testimoni__card:hover {
    border: 3px solid #CDDFF2
}
.testimoni__card__inner {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.testimoni__card__inner > img {
    height: 7.2rem;
    width: 7.2rem;
}
.testimoni__card__inner__text > h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 2rem;
    line-height: normal;
    color: var(--color-primary);
}
.testimoni__card__inner__text > p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: normal;
    color: #707070;
}

/* Services Section Card */
.services__card {
    display: flex;
    gap: 4rem;
    background-color: #FAFAFA;
    border-radius: 2rem;
    border: 3px solid transparent;
    transition: border-color 0.2s ease;
}
.services__card:hover {
    border-color: #CDDFF2;
}
.services__card:hover .services__card__body > h1 {
    color: var(--color-secondary);
}
.services__card_img_container {
    max-width: 26rem;
    max-height: 18rem;
    border-radius: 2rem;
    transition: transform 0.4s ease;
    /* Prevent layout shifts */
    flex-shrink: 0;
}
.services__card:hover .services__card_img_container {
  transform: translateX(1.5rem);
}
.services__card_img_container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.services__card__body {
    padding: 3.2rem 2rem 3.9rem 0;
    position: relative;
}
.service__card__body__click {
    position: absolute;
    right: 2rem;
}
.services__card__body > h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 100%;
    color: var(--color-primary);
    margin-bottom: 2.5rem;
}
.services__card__body > p {
    font-family: 'Inter', sans-serif;
    color: #626262;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 100%;
    text-align: justify;
}
.service__card__desktop__cursor {
    display: none;
}
@media only screen and (min-width: 1440px) {
    .service__card__desktop__cursor {
        display: block;
    }
    .service__card__mobile__cursor {
        display: none;
    }
}
/* Services Card bottom */
.services__bottom__card {
    padding: 4.1rem 2rem;
    border-radius: 1.5rem;
    background-color: #FAFAFA;
    width: fit-content;
    width: 20rem;
    position: relative;
    cursor: pointer;
    height: 25rem;
}
.services__bottom__card > .image-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.services__bottom__card > h1 {
    font-family: inherit;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 2rem;
    line-height: 100%;
    text-align: center;
    margin-bottom: 1.2rem;
}
.services__bottom__card > p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    line-height: 100%;
}
.services__bottom__card > .tooltip-gray {
    position: absolute;
    bottom: .95rem;
    right: 0.95rem;
}

/* doctors card */
.doctors__card {
    max-width: 42rem;
}
.doctors__card__img {
    border-radius: 2rem;
    width: 42rem;
    height: 50rem;
}
.doctors__card__img > img {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
    object-fit: cover;
}
.doctors__card__body {
    padding-top: 3rem;
}
.doctors__card__body > h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 100%;
    color: var(--color-primary);
    margin-bottom: 1.5rem;
}
.doctors__card__body > h2 {
    font-family: inherit;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 100%;
    color: var(--color-accent);
    margin-bottom: 3rem;
}
.doctors__card__body > ul {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.2;
    color: #434343;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 25px;
}
@media only screen and (min-width: 1440px) {
    .services__bottom__card {
        width: 28rem;
        height: 31rem;
        padding: 4.5rem 4rem;
    }
    .services__bottom__card > p {
        font-size: 1.4rem;
        line-height: 1.2;
    }
}