/* 10. Recall */
.recall {
    border: 3px solid #CDDFF2;
    border-radius: 2rem;
    padding: 4rem;
    margin: 1rem;
}
.recall__header {
    display: flex;
    gap: 4rem;
    padding: 0 3.2rem;
    align-items: center;
    margin-bottom: 2rem;
}
.recall__header__img {
    width: 8rem;
    height: 8rem;
}
.recall__header__img > img {
    width: 100%;
    height: 100%;
}
.recall__header > h2 {
    font-family: inherit;
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
    color: #0D0D0D;
    flex: 1;
    text-align: justify;
    text-wrap-style: pretty;
}
.recall__button {
    display: flex;
    gap: 1rem;
}
@media only screen and (min-width: 1440px) {
    .recall {
        margin: 3rem 6rem;
        border-radius: 9999px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15rem;
        padding-right: 15rem;
    }
    .recall__header {
        max-width: 52rem;
        margin: 0;
    }
    .recall__button {
        min-width: 44rem;
    }
}
@media only screen and (min-width: 1920px) {
    .recall {
        margin: 3rem 0;
    }
}