/* --- MAIN CSS HUB --- */
/* This file imports all other style files. */

/* 1. Import CSS Reset */
@import "./base/_reset.css";

/* 2. Import Base Layers */
@import "./base/_fonts.css";
@import "./base/_colors.css";
@import "./base/_typography.css";

/* 3. Import Component Layers */
@import "./components/_navbar.css";
@import "./components/_button.css";
@import "./components/_card.css";


/* 4. Hero Section */
.hero {
    background: var(--color-primary);
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    padding-bottom: 6rem;
}
.hero > img {
    height: 40rem;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.hero__header {
    padding: 6rem 4rem 2rem 4rem;
}
.hero__header__h1 {
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 6.4rem;
    color: white;
    margin-bottom: 4rem;
}
.hero__header__h1 > span {
    color: var(--color-secondary);
}
.hero__header__p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: normal;
    color: white;
    margin-bottom: 2rem;
}

.hero__button {
    display: flex;
    gap: 1rem;
    padding: 0 4rem 0 4rem;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2rem;
}

.hero__p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.4rem;
    padding: 0 4rem 0 4rem;
    color: #FFFFFFCC;
}
.hero__p > span {
    border: 1px solid #FFFFFF;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    margin-right: 1rem;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}

/* 5. Testimoni Section */
.testimoni {
    padding-top: 2rem;
    margin: 0 1rem 0 1rem;
}
.testimoni__title {
    font-family: inherit;
    color: var(--color-primary);
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.2rem;
}
.testimoni__body {
    overflow-x: scroll;
    scrollbar-width: none;
}
.testimoni__body__content {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(5, auto);
    row-gap: 1rem;
    column-gap: 1rem;
}

/* 6. About Section */
.about {
    background-color: #EFF1FF;
    margin: 1rem;
    border-radius: 2rem;
}
.about__inner {
    padding: 8rem 2rem;
}
.about__inner__header {
    margin-bottom: 2rem;
}
.about__inner__header > h1 {
    font-family: inherit;
    font-weight: 300;
    font-size: 4rem;
    color: var(--color-primary);
}
.about__inner__header > h2 {
    font-family: inherit;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 6.4rem;
    color: var(--color-primary);
}
.about__inner__body {
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    border-color: #6B36B8;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.about__inner__body > p {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: var(--color-primary);
    text-align: justify;
}
.about__inner__body .about__inner__body__company {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--color-primary);
}
.about__inner__body .about__inner__body__name {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--color-accent);
}
.about__inner__body__gallery {
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.about__inner__body__gallery__body {
    display: flex;
    gap: .5rem;
    margin-bottom: 1.5rem;
}
.about__inner__body__gallery__body > img {
    border-radius: 2rem;
    object-fit: cover;
    height: 25rem;
    width: 42.75rem;
    display: block;
    min-width: 42.75rem;
}
.about__inner__body__gallery__body_last_item {
    width: 25rem;
    border: 3px solid var(--color-primary);
    padding: 8.3rem 2rem;
    border-radius: 2rem;
}
.about__inner__body__gallery__body_last_item > h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: var(--color-primary);
}
.about__inner__body__gallery__body_last_item > h2 {
    font-family: inherit;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--color-primary);
}
.about__inner__body__gallery_nav {
    display: flex;
    justify-content: flex-end;
}
.about__inner__body__gallery_nav > div {
    display: flex;
    gap: 1rem;
}

/* 7. Service Section */
.services {
    margin: 1rem;
}
.services__header {
    padding: 8rem 1rem 0 1rem;
}
.services__header__caption {
    padding: 0 2rem 0 2rem;
}
.services__header__caption > h2 {
    font-family: inherit;
    font-weight: 200;
    font-size: 4rem;
    line-height: 100%;
    color: var(--color-primary);
}
.services__header__caption > h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 6.4rem;
    color: var(--color-primary);
    margin-bottom: 2rem;
}
.services__header__caption > h1 > span {
    color: var(--color-secondary);
}
.services__header__caption > p {
    color: var(--color-primary);
    font-family: inherit;
    font-weight: 400;
    line-height: 100%;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}
.services__header__button {
    display: flex;
    gap: 1rem;
    margin-bottom: 8rem;
}
.services__header__highlights {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.services__bottom {
    background-color: #EFF1FF;
    border-radius: 2rem;
    padding: 2rem;
}
.services__bottom__header {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.services__bottom__header__left {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.services__bottom__header__left > p {
    font-family: inherit;
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--color-primary);
}
.services__bottom__header__right {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.services__bottom__body {
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.services__bottom__body__content {
    display: flex;
    gap: 1rem;
}

/* 8. Laboratorium */
.laboratorium {
    background-color: #F5F9EF;
    /* border-radius: 2rem; */
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: 1rem 1rem 0 1rem;
    padding: 6rem 4rem;
}
.laboratorium__swiper {
    margin-bottom: 6rem;
}
.laboratorium__swiper__img {
    width: 100%;
    max-width: 54rem;
    border-radius: 2rem;
    margin: 0 auto;
}
.laboratorium__swiper__img > img {
    border-radius: 2rem;
    width: 100%;
    object-fit: cover;
}
.laboratorium__caption > h2{
    font-family: inherit;
    font-weight: 200;
    font-size: 4rem;
    line-height: 100%;
    color: var(--color-primary);
    margin-bottom: 4rem;
}
.laboratorium__caption > h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 6.4rem;
    color: var(--color-primary);
    margin-bottom: 4rem;
}
.laboratorium__caption > h1 > span {
    color: var(--color-secondary);
}
.laboratorium__caption > p {
    font-family: inherit;
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
    color: var(--color-primary);
    margin-bottom: 4rem;
}
.laboratorium__caption__button {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    /* flex: 0 0 auto; */
    margin-bottom: 2rem;
}
.laboratorium__gallery {
    background-color: var(--color-secondary);
    border-radius: 2rem;
    padding: 4rem;
    margin: -2rem 1rem;
    position: relative;
}
.laboratorium__gallery__swiper {
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.laboratorium__gallery__content {
    display: flex;
    gap: 1rem;
    min-width: max-content;
}
.laboratorium__gallery__img {
    border-radius: 1rem;
    width: 28rem;
    height: 33rem;
    flex-shrink: 0; 
}
.laboratorium__gallery__img > img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.laboratorium__gallery__swiper__arrow {
    position: absolute;
    right: 18px;
    top: 50%;
}
@media only screen and (min-width: 640px) {
    .laboratorium__caption__button {
        flex-direction: row;
    }
}

/* 9. Doctors Section*/
.doctors {
    background-color: #FFEFFE;
    border-radius: 2rem;
    padding: 8rem 2rem;
    margin: 3rem 1rem 1rem 1rem;
}
.doctors__header {
    padding: 2rem 1rem;
}
.doctors__header > h2 {
    font-family: inherit;
    font-weight: 300;
    font-size: 4rem;
    line-height: 100%;
    color: var(--color-primary);
    margin-bottom: 4rem;
}
.doctors__header > h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 6.4rem;
    color: var(--color-primary);
    margin-bottom: 2rem;
}
.doctors__swiper_wrap {
    position: relative;
}
.doctors__swiper {
    padding: 4rem 1rem;
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    border-color: #F335A7;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.doctors__swiper__arrow__left {
    position: absolute;
    left: -0.2rem;
    top: 25rem;
}
.doctors__swiper__arrow__right {
    position: absolute;
    right: -1rem;
    top: 25rem;
}
.doctors__swiper__content {
    display: flex;
    gap: 1rem;
    min-width: max-content;
}