/* --- MAIN CSS HUB --- */
/* This file imports all other style files. */

/* 1. Import CSS Reset */
@import "./base/_reset.css";

/* 2. Import Base Layers */
@import "./base/_fonts.css";
@import "./base/_colors.css";
@import "./base/_typography.css";

/* 3. Import Component Layers */
@import "./components/_navbar.css";
@import "./components/_button.css";
@import "./components/_card.css";

/* 4. Section Styles */
@import "./sections/_hero.css";
@import "./sections/_testimoni.css";
@import "./sections/_about.css";
@import "./sections/_service.css";
/* 3,5. Menu */
main {
    position: relative;
}
.mobile__menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: #6A39B0FA;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding: 0 4rem 4rem 4rem;
}
.mobile__menu.open {
  transform: translateX(0);
}
.mobile__menu__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 10rem;
    align-items: end;
}
.mobile__menu__content > h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 6.4rem;
    color: white;
    text-align: end;
    padding: .4rem 0;
}
.mobile__menu__back {
    color: var(--color-secondary) !important;
    max-width: fit-content !important;
}

/* 8. Laboratorium */
.laboratorium {
    background-color: #F5F9EF;
    /* border-radius: 2rem; */
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: 1rem 1rem 0 1rem;
    padding: 6rem 4rem;
}
.floating-thumbs-lab {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    background: #00000080;
    padding: 6px;
    border-radius: 10px;
    display: flex;
    gap: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.floating-thumbs-lab .swiper-slide {
    width: 60px !important;
    height: 50px !important;
    opacity: 0.5;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}
.floating-thumbs-lab .swiper-slide-thumb-active {
    opacity: 1;
    border: 2px solid white;
    transform: scale(1.1);
    border-radius: 5px;
}
.floating-thumbs-lab img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.laboratorium__swiper {
    margin-bottom: 6rem;
    width: 100%;
    max-width: 54rem;
    margin: 0 auto 6rem auto;
}
.laboratorium__swiper__img {
    width: 100%;
    max-width: 54rem;
    border-radius: 2rem;
    margin: 0 auto;
}
.laboratorium__swiper__img > img {
    border-radius: 2rem;
    width: 100%;
    object-fit: cover;
}
.laboratorium__caption > h2{
    font-family: inherit;
    font-weight: 200;
    font-size: 4rem;
    line-height: 100%;
    color: var(--color-primary);
    margin-bottom: 4rem;
}
.laboratorium__caption > h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 6.4rem;
    color: var(--color-primary);
    margin-bottom: 4rem;
}
.laboratorium__caption > h1 > span {
    color: var(--color-secondary);
}
.laboratorium__caption > p {
    font-family: inherit;
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
    color: var(--color-primary);
    margin-bottom: 4rem;
}
.laboratorium__caption__button {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    /* flex: 0 0 auto; */
    margin-bottom: 2rem;
}
.laboratorium__gallery {
    background-color: var(--color-secondary);
    border-radius: 2rem;
    padding: 4rem;
    margin: -2rem 1rem;
    position: relative;
}
.laboratorium__gallery__swiper {
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.laboratorium__gallery__content {
    display: flex;
    gap: 1rem;
    min-width: max-content;
}
.laboratorium__gallery__img {
    border-radius: 1rem;
    width: 28rem;
    height: 33rem;
    flex-shrink: 0; 
}
.laboratorium__gallery__img > img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.laboratorium__gallery__swiper__arrow {
    position: absolute;
    right: 18px;
    top: 50%;
}
@media only screen and (min-width: 640px) {
    .laboratorium__caption__button {
        flex-direction: row;
    }
}

/* 9. Doctors Section*/
.doctors {
    background-color: #FFEFFE;
    border-radius: 2rem;
    padding: 8rem 2rem;
    margin: 3rem 1rem 0rem 1rem;
}
.doctors__header {
    padding: 2rem 1rem;
}
.doctors__header > h2 {
    font-family: inherit;
    font-weight: 300;
    font-size: 4rem;
    line-height: 100%;
    color: var(--color-primary);
    margin-bottom: 4rem;
}
.doctors__header > h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 6.4rem;
    color: var(--color-primary);
    margin-bottom: 2rem;
}
.doctors__swiper_wrap {
    position: relative;
}
.doctors__swiper {
    padding: 4rem 1rem;
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    border-color: #F335A7;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.doctors__swiper__arrow__left {
    position: absolute;
    left: -0.2rem;
    top: 25rem;
}
.doctors__swiper__arrow__right {
    position: absolute;
    right: -1rem;
    top: 25rem;
}
.doctors__swiper__content {
    display: flex;
    gap: 1rem;
    min-width: max-content;
}
.doctors__schedule {
    background-color: var(--color-primary);
    border-radius: 2rem;
    padding: 6rem;
    position: relative;
    margin: 0 1rem;
}
.doctors__schedule__tip {
    border: 3px solid var(--color-primary);
    position: absolute;
    left: 0;
    background-color: white;
    color: var(--color-primary);
    font-family: inherit;
    font-weight: 600;
    font-size: 2rem;
    line-height: 100%;
    text-align: center;
    border-radius: 9999px 9999px 9999px 0;
    top: -2.74rem;
    padding: 1.5rem 6rem;
}
.doctors__schedule__inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.doctors__schedule__day {
    display: flex;
    gap: 3rem;
}
.doctors__schedule__day > h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 100%;
    color: white;
    min-width: 10rem;
}
.doctors__schedule__day__doctor {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: .4rem;
}
.doctors__schedule__day__doctor h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    font-style: italic;
    line-height: 100%;
    color: white;
}

/* 10. Recall */
.recall {
    border: 3px solid #CDDFF2;
    border-radius: 2rem;
    padding: 4rem;
    margin: 1rem;
}
.recall__header {
    display: flex;
    gap: 4rem;
    padding: 0 3.2rem;
    align-items: center;
    margin-bottom: 2rem;
}
.recall__header__img {
    width: 8rem;
    height: 8rem;
}
.recall__header__img > img {
    width: 100%;
    height: 100%;
}
.recall__header > h2 {
    font-family: inherit;
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
    color: #0D0D0D;
    flex: 1;
    text-align: justify;
    text-wrap-style: pretty;
}
.recall__button {
    display: flex;
    gap: 1rem;
}
/* Gallery Klinik */
.gallery__klinik {
    background-color: #ECF3FB;
    border-radius: 2rem;
    padding: 6rem 2rem;
    margin: 0 1rem;
}
.gallery__klinik__header {
    padding: 4rem 2rem;
}
.gallery__klinik__header > h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 6.4rem;
    color: var(--color-primary);
    line-height: 100%;
    margin-bottom: 4rem;
}
.gallery__nav {
    display: flex;
    gap: 4rem;
    padding: 0 .5rem;
    color: #065099;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 100%;
}
.gallery__nav__child.active {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
.gallery__klinik__swiper__outer {
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.gallery__klinik__swiper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 5px;
    min-width: max-content;
}
.gallery__klinik__img {
  width: 19rem;
  height: 19rem;
  border-radius: 1rem;
  overflow: hidden;
}

.gallery__klinik__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* Footer */
footer {
    border-top: 5px solid var(--color-secondary);
    width: 100%;
    display: flex;
    padding: 6rem 4rem;
    background-color: var(--color-primary);
}
.footer__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 4rem;
}
.footer__header__company__icon {
    width: 6.4rem;
    height: 5.5rem;
}
.footer__header__company {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2.5rem;
}
.footer__header__company__name > div {
    font-family: inherit;
    line-height: 100%;
    font-weight: 600;
    font-size: 2.4rem;
    color: white;
}
.footer__header__company__name > div > span {
    font-weight: 800;
}
.footer__header__desc {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 120%;
    text-align: justify;
    color: white;
    margin-bottom: 2.5rem;
    font-size: 1.4rem;
}
.footer__header__copyright {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 100%;
    text-align: justify;
    color: #FFFFFF80;
}
.footer__header__2 {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.footer__header__2_content {
    display: flex;
    gap: 2rem;
    color: white;
}
.footer__header__2_content > img {
    color: white;
}
.footer__header__2__desc > h1 {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: justify;
}
.footer__header__2__desc > h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    /* text-align: justify; */
    text-wrap-style: auto;
}
.footer__maps {
    grid-column: 1 / -1;
    height: 28.2rem;
    border-radius: 2rem;
}
.footer__maps > iframe {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}
/* body {
    border: 3px red dotted;
    padding-top: 3rem;
}
main {
    display: none;
}
main div, footer {
    display: none !important;
} */