body {
    font-family: var(--font-primary), sans-serif;
}


/* .text- {} */
/* .text-sm {

}
h1 {
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 6.4rem;
    letter-spacing: var(--letter-spacing);
}
h2 {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 6.4rem;
    letter-spacing: var(--letter-spacing);
}
h3 {
    font-size: 4rem;
    font-weight: 300;
    line-height: normal;
    letter-spacing: var(--letter-spacing);
}
h4 {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: normal;
    letter-spacing: var(--letter-spacing);
}
h5 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: normal;
    letter-spacing: var(--letter-spacing);
}
.p-subtitle {
    font-weight: 400;
    font-size: 2rem;
    line-height: normal;
    letter-spacing: var(--letter-spacing);
} */
